.project_section {
    display: grid;
    grid-column: auto;
}
.on_process_section{
    width: 100%;
    background-color: #F5F5F5;
}
.op_title_section {
    height: 100px;
    width: 1335px;
    background-color: white;
    display: flex;
	align-items: center;
}
.op_title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 68px;
}
.doc_search_section {
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.doc_search {
    width: 272px;
    height: 26px;
    border-color: #606060;
    border-width: 1.5px;
    font-size: 16px;
    color: #606060;
    margin-left: 2px;
    padding: 2px;
}
.search_icon {
    width: 17px;
    margin-left: -30px;
}
.doc_search-options{
    width: 55px;
    height: 30px;
    border-color: #606060;
    border-width: 1.5px;
    font-size: 16px;
    color: #606060;
    margin-left: 730px;
    padding: 2px;
}
.op_list_content{
    width: 1295px;
    height: 980px;
    background-color: white;
    padding-top: 38px;
}
.op_list{
    font-size: 16px;
    color: #606060;
    margin-left: 40px;
    border-collapse: collapse;
}
.op_list thead th,
.op_list tbody td {
    border-bottom: 1px solid #606060;
    padding: 15px;
}
.op_list tbody tr:last-child td {
    border-bottom: none;
}
.op_list th:first-child {
    width: 188px;
    padding-left: 40px;
}

.op_list td:first-child {
    width: 188px;
    padding-left: 55px;
}

.op_list th:nth-child(2) {
    width: 500px;
    padding-left: 11.25px;
}

.op_list td:nth-child(2) {
    width: 480px;
    padding-left: 26.25px;
}
.op_list td:nth-child(2) {
    cursor: pointer;
}
.op_list th:nth-child(3) {
    width: 100px;
    padding-left: 11.25px;
}

.op_list td:nth-child(3) {
    width: 100px;
    padding-left: 26.25px;
}
.op_list th:nth-child(4) {
    width: 150px;
    padding-left: 11.25px;
}
.op_list td:nth-child(4){
    width: 130px;
    padding-left: 26.25px;
}
.op_list th:nth-child(5),
.op_list td:nth-child(5) {
    width: 100px;
    padding-right: 40px;
    padding-left: 11.25px;
    padding-top:4px;
    padding-bottom: 4px;
}
.process_check_button{
    width: 126px;
    height: 37px;
    border-radius: 5px;
    background-color: #FA9A85;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.process_check_text{
    font-size: 16px;
    color: white;
}

.list_writing_button {
    cursor: pointer;
}

/* 페이지네이션 */
.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 20px;
    margin: 20px 0px;
    margin-top: 70px;
}

.pagination button {
    font-size: 14px;
    height: 20px;
    width: 20px;
    border: 1px solid #d9d9d9;
    background: white;
    color: #606060;
}
.pagination button:hover {
    background: rgba(250, 154, 133, 0.3);
}
.pagination .page-item.active button {
    color: #fb6240;
    border-color: #fb6240;
    font-weight: bold;
}