.sw_form_body {
    display: grid;
    grid-column: auto;
}
.sw_form_title_section {
    height: 196px;
    display: flex;
	align-items: center;
    justify-content: center;
}
.sw_form_title {
    font-family: pretendard;
    font-size: 30px;
    font-weight: bold;
}
.sw_form_table {
    width: 827px;
    margin-left: 65px;
}
.tableRow {
    display: table-row;
}
.swA{
    width: 170px;
    height: 70px;
    border: solid;
    border-width: 1px;
    padding-left: 15px;
    padding-right: 5px;
    border-color: #cecece;
    background-color: #f0f0f0;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
}
.swB{
    width: calc(100% - 170px); /* 나머지 공간을 차지하도록 설정 */
    border: solid;
    border-width: 1px;
    padding-left: 15px;
    padding-right: 5px;
    border-color: #cecece;
    vertical-align: middle;
    font-size: 16px;
}

.sw_input_box {
    margin-left: 8px;
    font-size: 16px;
    width: 580px;
    height: 25px;
}
#sw_start_date, #end_date {
    font-size: 16px;
    width: 130px;
    height: 25px;
    margin-left: 8px
}
.dateTotal{
    margin-left:2px;
}
.total_day {
    margin-left: 8px;
    font-size: 16px;
    width: 50px;
    height: 25px;
}
.B select {
    margin-left: 8px;
    font-size: 16px;
    width: 580px;
    height: 25px;
}
.table{
    height: 120px;
}
.date_unit {
    font-size: 16px;
    color: #606060;
    margin-left: 4px;
}
.inputbox {
    height: 25px;
    width: 130px;
}