.project_section {
    background-color: hsl(0, 0%, 97%);
    display: flex;
    flex-direction: column;
    padding: 60px 10px 10px 10px;
}

.title_wrap {
    font-size: 30px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

.title_wrap button {
    z-index: 1;
    bottom: 10px;
    right: 10px;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color: hsl(12, 92%, 85%);
    color: white;
    border: 0;
}

.title_wrap button:hover {
    background-color: hsl(12, 92%, 75%);
}

.title_wrap span {
    padding-left: 10px;
}

.manager_title {
    font-size: 24px;
}

.body {
    display: grid;
    grid-template-columns: 450px auto;
    grid-template-rows: 138.3px 369.672px 384.031px;
    gap: 10px;
    grid-template-areas:
        "a d"
        "b d"
        "c d";
}

.body>div {
    border: 1px solid #d9d9d9;
}

.manager {
    grid-area: a;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.member {
    grid-area: c;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.manager_info {
    width: 100%;
    height: 100%;
}

.employee_name {
    text-align: start;
    font-size: 20px;
}

.employee_col_2>td .employee_col_3>td {
    padding: 10px;
}

.employee_profile {
    width: 80px;
}

.employee_profile>img {
    height: 60px;
}

.employee_job_name,
.employee_dept_name {
    text-align: end;
}

.info {
    grid-area: b;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info_row_1,
.info_row_2,
.info_row_3,
.info_row_4,
.info_row_5,
.info_row_6 {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.info_row_1>div,
.info_row_2>div,
.info_row_3>div,
.info_row_4>div,
.info_row_5>div,
.info_row_6>div {
    width: 80px;
}

.info input,
.info select {
    padding: 5px 15px;
    font-size: 20px;
    border: 1px solid hsl(12, 92%, 85%);
    color: #999;
}

.info textarea {
    width: 348px;
    height: 100px;
    border: 1px solid hsl(12, 92%, 85%);
    font-size: 14px;
    padding: 5px 15px;
    color: #999;
    resize: none;
}

.info_row_6 {
    display: flex;
    justify-content: flex-end;
}

.info_row_6 button {
    z-index: 1;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color: hsl(12, 92%, 85%);
    color: white;
    border: 0;
}

.info_row_6 button:hover {
    background-color: hsl(12, 92%, 75%);
}

.member {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.member_row_1 {
    display: flex;
    justify-content: space-between;
}

.member_row_1_title {
    font-size: 24px;
}

.invite_window {
    z-index: 1;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color: hsl(12, 92%, 85%);
    color: white;
    border: 0;
}

.invite_window:hover {
    background-color: hsl(12, 92%, 75%);
}

.member_row_2>input {
    padding: 5px 15px;
    font-size: 20px;
    border: 1px solid hsl(12, 92%, 85%);
    color: #999;
    width: 100%;
}

.member_row_3 {
    height: 100%;
    overflow-y: scroll;
}

.employee_info {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    height: 62px;
    gap: 10px;
    background-color: hsl(12, 92%, 95%);
    border-radius: 5px;
}

.employee_profile {
    width: 52px;
    height: 52px;
}

.employee_profile>img {
    width: 52px;
    height: 52px;
}

.employee_col_1 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.employee_col_2 {
    display: grid;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    grid-template-areas:
        "a b"
        "c d"
    ;
}

.employee_dept_name {
    grid-area: a;
}

.employee_job_name {
    grid-area: c;
}

.kicked_button {
    grid-area: b;
}

.invite_window {
    grid-area: d
}

.employee_col_2>button {
    z-index: 1;
    padding: 0px 3px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: hsl(12, 92%, 85%);
    color: white;
    border: 0;
}

.employee_col_2>button:hover {
    background-color: hsl(12, 92%, 75%);
}