.project_main {
    display: grid;
    grid-template-columns: 245px auto;
}

.sidemenu2 {
    width: 245px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #606060;
    background-color: #F5F5F5;
}

.sidemenu2_title {
    color: #404040;
    margin: 60px 0px;
    font-size: 30px;
    text-align: center;
}

.sidemenu2_menu {
    padding: 0;
    margin: 0px auto;
}

.sidemenu2_menu>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    height: 60px;
    width: 180px;
    border-radius: 10px;
    cursor: pointer;
}

.sidemenu2_menu span {
    font-size: 20px;
    text-align: center;
}

.sidemenu2_menu>div:hover {
    background-color: hsl(12, 92%, 85%);
}

.sidemenu2_menu>div:hover span {
    color: white;
}

.project_section {
    display: flex;
    flex-direction: column;
    padding: 40px 10px 10px 10px;
    gap: 40px;
    box-sizing: border-box;
}

.project_header {
    display: flex;
    justify-content: space-between;
}

.project_header_title {
    font-size: 30px;
}

.project_input_wrap {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;

}

.project_search_input {
    padding: 5px 15px;
    font-size: 20px;
    border: 1px solid hsl(12, 92%, 85%);
    color: #999;
}

.project_search_button,
.project_create_button {
    z-index: 1;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color: hsl(12, 92%, 85%);
    color: white;
    border: 0;
}

.project_search_button:hover,
.project_create_button:hover {
    background-color: hsl(12, 92%, 75%);
}

.project_body {
    width: 100%;
}

.project_list_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    row-gap: 60px;
}

.page_button {
    border-radius: 2px;
    font-size: 14px;
    width: 2em;
    border: 1px solid #d9d9d9;
    background: white;
    cursor: pointer;
}

.page_button_clicked {
    background-color: #fa9a85;
}

.page_button:hover {
    background: #d9d9d9;
}


.project_contains_me {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border-top: 40px solid #fa9a85;
    border-right: 40px solid #fa9a85;
    border-bottom: 40px solid transparent;
    border-left: 40px solid transparent;
}

.project_contains_me_text {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
}

.project_element_wrap {
    padding: 40px 30px;
    width: 100%;
    min-height: 300px;
    min-width: 400px;
    height: 100%;
    border: 2px solid hsl(12, 92%, 85%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.participation {
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: 140px;
    border-top: 70px solid hsl(12, 92%, 85%);
    /* Height of the triangle */
    border-right: 70px solid hsl(12, 92%, 85%);
    /* Width of the triangle and color */
    border-left: 70px solid #0000;
    border-bottom: 70px solid #0000;
}

.participation_text {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 20px;
    right: 20px;
    text-align: right;
}

.project_element_wrap:hover {
    background-color: hsl(12, 92%, 97%);
    cursor: pointer;
}

.project_element_title {
    font-size: 24px;
}

.lock_img {
    padding-right: 5px;
}

.project_element_info span {
    font-size: 16px;
}

.project_element_row_3 {
    text-align: end;
}

.project_element_row_4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project_element_row_4 span {
    font-size: 20px;
}

.project_element_progress_status {
    font-size: 24px;
}

.project_element_row_4 img {
    height: 30px;
}

.project_element_dept {
    font-size: 14px;
}

.project_element_status {
    font-size: 20px;
    color: #ff843f;
    padding-left: 20px;
}

.project_element_duedate {
    font-size: 16px;
    padding-right: 30px;
}

.create_section {
    width: 100%;
    min-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
}

.create_header {
    margin-top: 100px;
}

.create_header_title {
    font-size: 30px;
    height: 143px;
}

.info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info_row_1,
.info_row_2,
.info_row_3,
.info_row_4,
.info_row_5,
.info_row_6 {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.info_row_1>div,
.info_row_2>div,
.info_row_3>div,
.info_row_4>div,
.info_row_5>div,
.info_row_6>div {
    width: 80px;
}

.info input,
.info select {
    padding: 5px 15px;
    font-size: 20px;
    border: 1px solid hsl(12, 92%, 85%);
    color: #999;
}

.progress_status_select>option[value='프로젝트 생성'] {
    color: #FF3F3F;
}

.progress_status_select>option[value='기획중'] {
    color: #FF843F;
}

.progress_status_select>option[value='기획완료'] {
    color: #128d10;
}

.progress_status_select>option[value='프로젝트 진행중'] {
    color: #3FBAFF;
}

.progress_status_select>option[value='프로젝트 완료'] {
    color: #7C3FFF;
}

.progress_status_select>option[value='피드백'] {
    color: #FB3FFF;
}

.info textarea {
    width: 348px;
    height: 100px;
    border: 1px solid hsl(12, 92%, 85%);
    font-size: 14px;
    padding: 5px 15px;
    color: #999;
    resize: none;
}

.info_row_6 {
    display: flex;
    justify-content: flex-end;
    gap:20px;
}

.info_row_6 button {
    z-index: 1;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color: hsl(12, 92%, 85%);
    color: white;
    border: 0;
}

.info_row_6 button:hover {
    background-color: hsl(12, 92%, 75%);
}

.custom_checkbox {
    position: relative;
    height: 25px;
    line-height: 25px;
}

.custom_checkbox_input {
    position: absolute;
    opacity: 0;
}

.custom_checkbox_label {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
}

.custom_checkbox_checked {
    background-color: #007bff;
}

.page_selector {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* height: 25px; */
}

.page_selector button {
    border-radius: 2px;
    font-size: 14px;
    width: 2em;
    border: 1px solid hsl(12, 92%, 85%);
    background: hsl(12, 92%, 93%);
    color: hsl(12, 92%, 40%)
}

.page_selector button:hover {
    background: hsl(12, 92%, 95%);
}

.page_selector button:disabled {
    opacity: 0.35;
    cursor: not-allowed;
}