.inputComment{

    width: 100%;
    min-height: 60px;
    max-height: 60px;
    border: 1px solid #D9D9D9;
    font-size: 15px;
    padding: 10px 10px;
}

.addCommentBtn{


    width: 90px;
    background-color: #FA9A85;
    border-radius: 8px;
    color: #FFF;
    font-size: 17px;
    margin-left: 20px;
    border: none;
}

.writer{

    font-weight: 600;
    margin-left: 14px;

}

.commentInfo{

    display: flex;
    justify-content: space-between;

}

.comment{
    margin-bottom: 25px;
    padding-left: 10px;
    border-left: 4px solid #D9D9D9;
}