.PostList{

    text-align: left;
    margin-top: 70px;
    width: 100%;
}


.PostList{
    border-collapse: collapse;
    color: #606060;
    text-align: left;
    margin-top: 70px;
    margin-bottom: 70px;
    
}

.PostList > thead{
    border-bottom: 1px solid #A3A2A2;

}

.PostList > thead th{
    padding-left: 15px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;

}

.PostList > tbody td{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 80px;
    padding-left: 15px;

}


.PostList > tbody tr{
    cursor: pointer;
}

.PostList > tbody tr:hover{
    background-color: #ffe4de;
}

.PostList > td{
    text-align: left;
}