.PostList{

    text-align: 'left';
    margin-top: 70px;
    width: 100%;
}


.PostList{
    border-collapse: collapse;
    color: #606060;
    text-align: left;
    margin-top: 70px;
    
}

.PostList > thead{
    /* border-top: 1px solid #A3A2A2; */
    border-bottom: 1px solid #A3A2A2;

}

.PostList > thead th{

    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;

}

.PostList > tbody td{
    padding-top: 20px;
    padding-bottom: 10px;
}


.PostList > tbody td{
    padding-right: 80px;
}

.PostList > td{
    text-align: left;
}