.mail_wrapper {
    display: grid;
    grid-template-columns: 245px auto;
}

.sidemenu2 {
    display: flex;
    flex-direction: column;
    color: #606060;
    background-color: #F5F5F5;
}

.sidemenu2_title {
    color: #414141;
    margin: 60px 0px;
    font-size: 24px;
    text-align: center;
}

.sidemenu2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0px auto;
    margin-top: 20px;
}

.sidemenu2 ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    height: 60px;
    width: 180px;
    border-radius: 10px;
    cursor: pointer;
}

.sidemenu2 ul li div {
    font-size: 20px;
    text-align: center;
}

.sidemenu2 ul li:hover {
    background-color: #fa9a85;
}

.sidemenu2 ul li:hover div {
    color: white;
}

#mail-write-button,
#mail-write-button-to-me {
    cursor: pointer;
    margin-top: -20px;
    margin-left: 3px;
    width: 115px;
    height: 57px;
    top: 43px;
    border: 0px;
    color: white;
    background: #FA9A85;
    border-radius: 10px;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

#mail-write-button:hover,
#mail-write-button-to-me:hover {
    background-color: #f87152;
}

#mail-write-button {
    left: 333px;
}

#mail-write-button-to-me {
    left: 450px;
}

.project_search_button {
    transition: background-color 0.5s ease;
}

.project_search_button:hover {
    background-color: #f87152;
}

.project_create_button {
    transition: background-color 0.5s ease;
}

.project_create_button:hover {
    background-color: #f87152;
}

.mail-send-button:hover {
    background-color: #f87152;
}

.mail-send-button {
    margin-left: 530px;
    transition: background-color 0.5s ease;
    height: 50px;
    width: 200px;
    margin-top: 30px;
    background-color: #FA9A85;
    border: 0px;
    border-radius: 10px;
    color: white;

}



#noread,
#important,
#trash {
    cursor: pointer;
    margin-top: 15px;
    margin-left: 34px;
    margin-bottom: -20px;
    font-size: 14px;
    text-align: center;
    color: #000000;
}

#noread-count {
    height: 23px;
}

#noread:hover,
#important:hover,
#trash:hover {
    font-weight: bold;
}

#information {
    display: flex;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in.active {
    opacity: 1;
}

.check-box {
    margin-left: -20px;
}

.important-icon {
    left: 20px;
}