.approval_writing_section{
    width: 100%;
    display: grid;
    grid-column: auto;
    background-color: #F5F5F5;
}
.new_form_title_section {
    height: 100px;
    width: 1335px;
    background-color: white;
    display: flex;
	align-items: center;
}
.new_form_title {
    font-family: pretendard;
    font-size: 20px;
    font-weight: bold;
    margin-left: 68px;
}
.form_preview_section {
    width: 957px;
    height: 944px;
    background-color: white;
    margin-top: 7px;
    margin-left: 7px;
}
.writing_section {
    height: 70px;
    background-color: white;
    display: flex;
	align-items: center;
    border-bottom: 1px solid #D3D3D3;
}
.writing_button_and_content {
    height: 953px;
    margin-top: 7px;
    background-color: white;
}
.aproval_save_button, .approval_submit_button{
    width: 126px;
    height: 37px;
    border-radius: 5px;
    border: solid 2px #FA9A85;
    margin-left: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.aproval_save_button {
    background-color: white;
}
.approval_submit_button {
    background-color: #FA9A85;
}
.saving_text, .submitting_text {
    font-family: pretendard;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.saving_text {
    color: #FA9A85;
}
.submitting_text {
    color: white;
}
.form_writing_section {
    width: 972px;
    margin-left: 7px;
    background-color: white;
}
.approval_line_section {
    width: 348px;
    height: 953px;
    margin-left: 7px;
    margin-top: 7px;
    background-color: white;
}
.writing_and_approval_line{
    display: flex;
	flex-direction: row;
    width: 1335px;
    background-color: #F5F5F5;
}
.approval_line_list_text, .view_line_list_text, .attached_file_list_text{
    font-family: pretendard;
    font-size: 16px;
    color: #606060;
}
.approval_line_title {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.approval_line_list, .view_line_list, .attached_file_list {
    cursor: pointer;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.underline {
    bottom: 0;
    left: 0;
    width: 65%;
    height: 2px;
    background-color: #FA9A85;
    z-index: 1;
}
.shaded_underline {
    position: relative;
    top: -1.5px;
    left: 0;
    width: 90%;
    height: 1.5px;
    background-color: #D3D3D3;
    margin: auto;
    z-index: 0;
}
.set_approval_line_button{
    width: 72px;
    height: 27px;
    border: solid 1px #606060;
    display: flex;
    justify-content: center;
    align-items: center;
}
.set_approval_line_text{
    font-family: pretendard;
    font-size: 12px;
    color: #606060;
}
.set_approval_line{
    display: flex;
    justify-content: right;
    margin-top: 17px;
    margin-right: 17px;
}

#ov_start_time, #ov_end_time, #ov_working_date{
    font-size: 16px;
    width: 130px;
    height: 25px;
    margin-left: 8px;
}
.ov_dateTotal{
    margin-left: 8px;
    font-size: 16px;
    width: 50px;
    height: 25px;
}
.total_overtime{
    margin-left: 8px;
    font-size: 16px;
    width: 50px;
    height: 25px;
}
.date_unit {
    font-size: 16px;
    color: #606060;
    margin-left: 4px;
}
.selectionType{
    height: 25px;
    width: 580px;
}
.B select {
    margin-left: 8px;
    font-size: 16px;
    width: 580px;
    height: 25px;
}
.inputbox {
    height: 25px;
    width: 130px;
}