.sidemenu2 {
    width: 245px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #606060;
    background-color: #F5F5F5;
}

.sidemenu2_area {
    width: 89%;
    height: 97%;
    position: relative;
    left: 14px;
    top: 10px;
    background-color: white;
}

.sidemenu2_title {
    color: #414141;
    margin: 60px 0px;
    font-size: 24px;
    text-align: center;
}

.sidemenu2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0px auto;
}

.sidemenu2 ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    height: 60px;
    width: 180px;
    border-radius: 10px;
    cursor: pointer;
}

.sidemenu2 ul div {
    font-size: 20px;
    width: 230px;
    height: 50px;
    text-align: center;
    background-color: #F5F5F5;
    color: #606060;
    line-height: 50px;
}

.sidemenu2 ul li:hover {
    background-color: #fa9a85;
    width: 100%;
}

.sidemenu2 ul li:hover div {
    color: white;
}

a{
    color: #606060;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  
  .fade-in.active {
    opacity: 1;
  }