
/* .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  
  .fade-in.active {
    opacity: 1;
  } */

  .GroupSideBar{

    color: #606060;
    height: 100%;
    box-shadow: 3px 0px 6px -5px rgba(0, 0, 0, 0.25);
    /* text-align: center; */
    display:grid;
    grid-template-columns: 330px auto;

}

/* 애니메이션 주기 */

.groupcontent {
    display: flex;
    /* margin-left: 326px;  */
    margin-top: 30px;
    padding: 20px; 
    box-sizing: border-box; 
    flex-direction: column;

}


.groupchart {
    width: 290px;
    border-color: bisque;
    border-radius: 1px;
    border: 1px solid rgb(178, 177, 177);
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    align-items: center;
    padding-bottom: 30px;
}

#orgchartbox {
    width: 270px;
    max-height: 600px;
    border-color: bisque;
    border-radius: 1px;
    border: 1px solid rgb(178, 177, 177);
    box-sizing: border-box;
    display: flex;
    overflow-y: auto; /* 스크롤 추가 */
}



#orgchart{
    margin-top: 30px;
    height: 500px;
    max-height: 800px;
}



.groupname{
    width: 290px;
    color: #414141;
    margin: 60px 0px;
    font-size: 24px;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    
}


.groupchartname{
    margin-bottom: 30px;
}