
.myinfo_update {
    display: flex;
    width: 925px;
    justify-content: center;
    background-color: #F5F5F5;
}

.myinfo_chart{
    margin-top: 200px;
    padding-right: 30px;
    /*width: 400px;*/
}

.myinfo_chart input {
    width: 500px;
    height: 30px;
    font-size: 25px;
}

.myinfotext{
    height: 50px;
    font-size: 24px;

}

.update_btn{

    margin-top: 20px;
}

.update_btn2{
    background-color: #FFBE98;
    width: 100px;
    height: 30px;
}

.mypage_info2 h3 {
    font-size: 25px;
}
.mypage_info2 p {
    font-size: 20px;
}