.sidemenu2 {
    position: absolute;
    top: 0px;
    left: 320px;
    width: 245px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    color: #606060;
    background-color: #F5F5F5;
}

.sidemenu2_title {
    color: #414141;
    margin: 60px 0px;
    font-size: 24px;
    text-align: center;
}