.approval_writing_section{
    width: 100%;
    display: grid;
    grid-column: auto;
    background-color: #F5F5F5;
}
.ow_detail_form_title_section {
    height: 100px;
    width: 1335px;
    background-color: white;
    display: flex;
	align-items: center;
}
.ow_detail_form_title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 68px;
}
.form_preview_section {
    width: 957px;
    height: 944px;
    background-color: white;
    margin-top: 7px;
    margin-left: 7px;
}
.ow_detail_section {
    height: 70px;
    background-color: white;
    display: flex;
	align-items: center;
    border-bottom: 1px solid #D3D3D3;
}
.ow_detail_button_and_content {
    height: 953px;
    margin-top: 7px;
    background-color: white;
}
.ow_detail_app_button{
    width: 84px;
    height: 37px;
    border-radius: 5px;
    border: solid 2px #FA9A85;
    margin-left: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FA9A85;
}
.ow_detail_rej_button{
    width: 84px;
    height: 37px;
    border-radius: 5px;
    border: solid 2px #FA9A85;
    margin-left: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.ow_detail_tolist_button{
    width: 111px;
    height: 37px;
    border-radius: 5px;
    border: solid 2px #A3A2A2;
    margin-left: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.ow_detail_app_text {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: white;
}
.ow_detail_rej_text {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #FA9A85;
}
.ow_detail_tolist_text{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #606060;
}
.ow_detail_form_section {
    width: 972px;
    margin-left: 7px;
    background-color: white;
}
.ow_detail_content{
    display: flex;
    flex-direction: row;
}
.approval_line_section {
    width: 348px;
    height: 953px;
    margin-left: 7px;
    margin-top: 7px;
    background-color: white;
}
.writing_and_approval_line{
    display: flex;
	flex-direction: row;
    width: 1335px;
    background-color: #F5F5F5;
}
.approval_line_list_text, .view_line_list_text, .attached_file_list_text{
    font-size: 16px;
    color: #606060;
}
.approval_line_title {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.approval_line_list, .view_line_list, .attached_file_list {
    cursor: pointer;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ol_underline {
    bottom: 0;
    left: 0;
    width: 65%;
    height: 2px;
    background-color: transparent;
    z-index: 1;
}
.ol_underline.active {
    background-color: #FA9A85;
}
.delete_file_button{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #606060;
    margin-right: 21px;
}
.file_delete_title_ol{
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}
.file_name_title_ol{
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    flex: 1;
}
.attached_file_item_ol{
    width: 313px;
    height: 45px;
    padding-left: 10px;
    display: flex;
    align-items: center; 
    border-bottom:#D3D3D3 1px solid;
    cursor: pointer;
}
#ov_start_time, #ov_end_time, #ov_working_date{
    font-size: 16px;
    width: 130px;
    height: 25px;
    margin-left: 8px;
}
.ov_dateTotal{
    margin-left: 8px;
    font-size: 16px;
    width: 50px;
    height: 25px;
}
.total_overtime{
    margin-left: 8px;
    font-size: 16px;
    width: 50px;
    height: 25px;
}
.date_unit {
    font-size: 16px;
    color: #606060;
    margin-left: 4px;
}
.selectionType{
    height: 25px;
    width: 580px;
}
.B select {
    margin-left: 8px;
    font-size: 16px;
    width: 580px;
    height: 25px;
}
.inputbox {
    height: 25px;
    width: 130px;
}
.selected_list_ol, .selected_ref_list_ol, .attached_file_list_ol{
    margin-left: 17px;
    margin-top: 10px;
}
.list_index_circle_op, .list_ref_index_circle_ol {
    border-radius: 50%;
    background-color: #D3D3D3;
    color: #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.selected_index_op, .selected_ref_index_ol {
    width: 65px;
    height: 65px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.selected_info_op, .selected_ref_info_ol{
    width: 180px;
    height: 50px;
    padding-left: 10px;
}
.selected_status_op{
    width: 68px;
}
.file_list_title_ol{
    width: 303px;
    height: 25px;
    padding-left: 10px;
    display: flex;
    align-items: center; 
    background-color: #D3D3D3
}

.employee_name_op, .ref_name_ol{
    font-weight: bold;
    font-size: 16px;
}
.file_name_ol{
    font-size: 16px;
    margin-left: 10px;
    flex: 1;
}

.employee_department_op, .ref_department_ol{
    font-size: 14px;
    color: #A3A2A2;
}
.approval_line_status_op{
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.approval_line_status_op.draft {
    font-size: 14px;
    color: #606060;
}
.approval_line_status_op.pending {
    font-size: 14px;
    color: #606060;
}
.approval_line_status_op.approval {
    font-size: 14px;
    color: #5da2fb;
}
.approval_line_status_op.rejected {
    font-size: 14px;
    color: #fa5d5d;
}

.even {
    background-color: rgba(250, 154, 133, 0.1); 
}
.loggedin_app_line{
    background-color: rgba(250, 154, 133, 0.1); 
}
.odd {
    background-color: white; /* 짝수 배경색 */
}
.even .list_index_circle_op, .even .list_ref_index_circle_ol {
    background-color: white;
    color:#606060;
}
.total_day {
    text-align: right;
}