.messenger_wrap {
    position: absolute;
    top: 10px;
    right: 10px;
}

.messenger_logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

.messenger_main {
    background-color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 400px;
    border: 1px solid #414141;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 90px 610px;
}

.messenger_header {
    box-sizing: border-box;
}

.messenger_controls_section {
    background-color: #fa9a85;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px;
}

.messenger_controls_section>img {
    width: 24px;
    height: 24px;
}

.messenger_sub_header {
    display: grid;
    grid-template-columns: auto 24px;
    gap: 10px;
    padding: 16px 20px 0px 20px;
    align-items: center;
}

.messenger_main_search {
    height: 24px;
    position: relative;
}

.messenger_main_search>.search_text {
    padding: 5px 0px 5px 7px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-sizing: border-box;
    border: 2px solid #a3a2a2;
}

.messenger_main_search>img {
    position: absolute;
    top: 4px;
    right: 6px;
    height: 16px;
}

.messenger_sub_header>img {
    width: 24px;
    height: 24px;
}

.messenger_body {
    box-sizing: border-box;
    overflow-y: auto;
}

.chatroom_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chatroom_info {
    position: relative;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 30px 30px;
    background-color: hsl(22, 100%, 96%);
    gap: 10px;
    padding: 5px 10px;
    cursor: pointer
}

.chatroom_info:hover {
    background-color: hsl(22, 100%, 88%);
}

.chatroom_info_1 {
    grid-row: span 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatroom_img {
    width: 55px;
    height: 55px;
}

.chatroom_unread_count {
    position: absolute;
    font-size: 0.9em;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #FA9A85;
    color: #ffffff
}

.chatroom_info_2 {
    display: flex;
    align-items: flex-end;
    color: #414141;
}

.chatroom_info_2>img {
    width: 20px;
    height: 20px;
}

.chatroom_info_people {
    font-size: 0.8em;
    color: #A3A2A2;
    padding-left: 2px;
}

.chatroom_info_3 {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 0.75em;
    padding-top: 5px;
    color: #A3A2A2;
    justify-self: flex-end;
}

.chatroom_info_4 {
    display: flex;
    align-items: flex-start;
    color: #A3A2A2;
    font-size: 14px;
}

.chatroom_info_4 img {
    width: 20px;
    height: 20px;
    padding-right: 3px;
}


.messenger_chatroom_create_header {
    padding: 16px 20px 0px 20px;
    font-size: 24px;
}