/* 이 곳은 모든 페이지에 적용 될 css 입니다. 수정 시 꼭 팀원에게 알려주세요!*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    padding:0;
    margin:0;
}

body {
    font-family: Pretendard-Regular;
}


.root {
    display: grid;
    grid-template-columns: 326px auto;
}